DJANGO_SECRET_KEY=change_me
DJANGO_DEBUG=1
DJANGO_ALLOWED_HOSTS=*
DJANGO_SUPERUSER_EMAIL=admin@example.com
DJANGO_SUPERUSER_USERNAME=admin
DJANGO_SUPERUSER_PASSWORD=admin123

# Jitsi (Fase 2+):
JITSI_BASE_URL=https://meet.example.com
JITSI_JWT_SECRET=change_me_later
JITSI_APP_ID=django-jitsi
